doctype html
html
	head
		title Mr.Mind
		// Meta
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='')
		meta(name='author', content='')
		//script(type='text/javascript', src='../assets/plugins/jquery-1.10.2.min.js')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		//script(src='http://code.jquery.com/jquery-latest.min.js')
		link(rel='stylesheet', href='../mind/izimodal/css/iziModal.min.css')
		//script(src='http://code.jquery.com/jquery-latest.min.js')
		script(src='../mind/izimodal/js/iziModal.min.js')
		// Favicon
		link(rel='shortcut icon', href='favicon.ico')
		link(rel='stylesheet', href='../mind/font-awesome/css/font-awesome.min.css')
		// CSS Global Compulsory
		link(rel='stylesheet', href='../assets/plugins/bootstrap/css/bootstrap.min.css')
		link(rel='stylesheet', href='../assets/css/style.css')
		// CSS Page Style
		link(rel='stylesheet', href='../assets/css/pages/portfolio-v2.css')
		// CSS Theme
		link#style_color(rel='stylesheet', href='../assets/css/themes/default.css')
		// CSS Customization
		link(rel='stylesheet', href='../assets/css/custom.css')
	body(style='background-color: #202e4a;')

		div(style='background-color: #202e4a; margin: 20px;')
			if user
				a(href='/me', target='_self').user
					img(src=(user.photo.exists ? user._.photo.thumbnail(27, 27) : user.avatarUrl ||
					'/images/avatar.png'), width=27).img-circle(style='border-radius:50%; vertical-align:middle;margin-left:100px;float:right;')
				a.user(href='/', target='_self')
					img.img-circle(src='/images/mind.png', width='27')
				input#userid(style='font-size:small;display:none;', value=user._id)
			else
				a.user(href='/', target='_self')
					img.img-circle(src='/images/mind.png', width='27')
				a(href='/join', data-from=page.path, target='_self', style='vertical-align:middle; margin-left:20px; float:right;').js-auth-trigger Join
				a(href='/signin', data-from=page.path, data-initial='signin', target='_self', style='vertical-align:middle;margin-left:50px;float:right;').js-auth-trigger Sign in
		
		// === Style Switcher ===
		.wrapper
			// === Content Part ===
			.container.content
				// Portfolio Sorting Blocks
				.sorting-block
					ul.sorting-nav.sorting-nav-v1.text-center
						li.filter(data-filter='all') My Artificial Intelligence Stories
						//li.filter(data-filter='category_1') Mindmaps
						//li.filter(data-filter='category_2') Intents
						//li.filter(data-filter='category_3') Entities
						//li.filter(data-filter='category_4')
					ul.row.sorting-grid
						#storylist

						li.col-md-4.col-sm-6.col-xs-12
							a(href="javascript:location.href='/editor?id=null&type=null';", target='_self', style='height:70px;')
								img.img-responsive(src='', alt='')
								span.sorting-cover
									span(style="height:27px;color:#fff;font-size:1.5em;") CREATE
									p(style='height:27px;color:#fff;padding:7px;') new A.I. story
									div(style='height:170px;color:#fff;font-size:7em;text-align: center;margin-top:-56px;') +
							div(style='height:20px;background-color:#202e4a;')


					.clearfix
				// End Portfolio Sorting Blocks
			// /container
			// === End Content Part ===
		// /wrapper
		// JS Global Compulsory
		#modal
			// Page content
		script(type='text/javascript').
			jQuery(document).ready(function() {
				App.init();
				PortfolioPage.init();
				var userid = $('#userid').attr('value');


				var request = $.ajax({
					url: "http://127.0.0.1:8000/api/v0/storylist/list",
					type: "GET",
					data: {id: userid},
					dataType: "json"
				});

				request.done(function (data) {
					for (var i = 0; i < Object.keys(data).length; i++) {
						$('<li class="col-md-4 col-sm-6 col-xs-12">' +
							'<a href="#" style="width: 24px;float:right;margin-top:10px; color:#fff;  border: 0px solid;z-index:10000;" onclick=\"delete_story(\'' + data[i]['id'] + '\');return false;"><i class="fa fa-trash-o sdelete" ></i></a>' +
							'<a href="#" style="width: 24px;float:right;border: 0px solid;z-index:10000;margin-top:10px; color:#fff;" onclick=\"convert_story(\'' + data[i]['id'] + '\');return false;"><i class="fa fa-spinner sconvert" ></i></a>' +
							'<a href="javascript:location.href=\'/editor?id=' + data[i]['mindmap'] + '&type=mindmap\';" target="_self" style="height:70px;">' +
							'<img src="" alt="" class="img-responsive">' +
							'<span class="sorting-cover">' +
							'<span style="height:27px;color:#fff;font-size:1.5em;">' + data[i]['title'] + '</span>' +
							'<p style="height:141px;color:#fff;padding:7px;">'+data[i]['description']+'</p>'+
							'</span></a>' +
							//'<input id="storyedit" type="button" value="편집하기" class="slist" style="width: 100%;top:5px;"/>' +
							'<div style="height:20px;background-color:#202e4a;"></div>' +
							'</li>').appendTo("#storylist");
					}
				});

				request.fail(function (jqXHR, textStatus) {
					alert("Request failed: " + textStatus);
				});

				//$("#modal").iziModal({
				//	iframe: true,
				//	iframeHeight: 350,
				//	iframeURL: "/story"
				//});

				$("#modal").iziModal({

					title: 'Create Story',
					subtitle: '',
					headerColor: '#88A0B9',
					theme: '',  // light
					attached: '', // bottom, top
					icon: null,
					iconText: null,
					iconColor: '',
					rtl: false,
					width: 600,
					padding: 0,
					radius: 3,
					zindex: 999,
					iframe: true,
					iframeHeight: 350,
					iframeURL: "/story",
					focusInput: true,
					group: '',
					loop: false,
					navigateCaption: true,
					navigateArrows: true, // closeToModal, closeScreenEdge
					history: true,
					restoreDefaultContent: false,
					autoOpen: 0, // Boolean, Number
					bodyOverflow: false,
					fullscreen: false,
					openFullscreen: false,
					closeOnEscape: true,
					overlay: true,
					overlayClose: true,
					overlayColor: 'rgba(0, 0, 0, 0.4)',
					timeout: false,
					timeoutProgressbar: false,
					pauseOnHover: false,
					timeoutProgressbarColor: 'rgba(255,255,255,0.5)',
					transitionIn: 'comingIn',
					transitionOut: 'comingOut',
					transitionInOverlay: 'fadeIn',
					transitionOutOverlay: 'fadeOut',
					onFullscreen: function () {
					},
					onResize: function () {
					},
					onOpening: function () {
					},
					onOpened: function () {
					},
					onClosing: function () {
					},
					onClosed: function () {
					}
				});

				$('#create').click(function () {
					//alert("create");
					$("#modal").iziModal('open', function (modal) {

						modal.startLoading();

						$.get('/story', function (data) {
							$("#modal .iziModal-content").html(data);

							modal.stopLoading();
						});

					});
				});

				$('#storyedit').click(function () {
					alert("work to do storyedit");
					var request = $.ajax({
						url: "http://127.0.0.1:8000/api/v0/storywork/work",
						type: "GET",
						data: {id: userid},
						dataType: "json"
					});

					request.done(function (data) {

					});

					request.fail(function (jqXHR, textStatus) {
						alert("Request failed: " + textStatus);
					});
				});

			});


		script(type='text/javascript', src='../assets/plugins/jquery-migrate-1.2.1.min.js')
		script(type='text/javascript', src='../assets/plugins/bootstrap/js/bootstrap.min.js')
		// JS Implementing Plugins
		script(type='text/javascript', src='../assets/plugins/back-to-top.js')
		script(type='text/javascript', src='../assets/plugins/jquery.mixitup.min.js')
		// JS Page Level
		script(type='text/javascript', src='../assets/js/app.js')
		script(type='text/javascript', src='../assets/js/pages/page_portfolio.js')

		//if lt IE 9script(src='../assets/plugins/respond.js')script(src='../assets/plugins/html5shiv.js')
		script.
			function delete_story(data) {
				var ret = confirm("삭제를 하시겠습니까? 데이터가 복구되지 않습니다.")
				if (ret == true) {
					// ‘OK’  또는 ‘확인’ 버튼을 눌렀을때 수행
					data = JSON.stringify(encodeURIComponent(data));  // encodeURIComponent 특수문자도 url 인코딩해야 함 http://rosalife.tistory.com/48
					var jqxhr = $.post("http://127.0.0.1:8000/api/v0/storylist/list", data, function (data, status) {
						// alert("return_Data: " + data + "\nStatus: " + status);
					}, "json")
						.done(function () {
							location.reload();
						})
						.fail(function () {
						    alert("삭제하는데 실패 하였습니다.");
						})
						.always(function () {
							// alert( "finished" );
						});

					jqxhr.always(function () {
					});
				} else {
					// ‘Cancel’ 또는 ‘취소’ 버튼을 눌렀을때 수행
				}
			}

			function convert_story(data) {
				var ret = confirm("스토리를 퍼블리싱 하시겠습니까?")
				if (ret == true) {
					data = JSON.stringify(encodeURIComponent(data));
					var jqxhr = $.post("http://127.0.0.1:8000/api/v0/storywork/convert", data, function (data, status) {
						alert("return_Data: " + data + "\nStatus: " + status);
						alert("퍼블리싱 되었습니다.");
					}, "json")
						.done(function () {
							location.reload();
						})
						.fail(function () {
							alert("퍼블리싱하는데 실패 하였습니다.");
						})
						.always(function () {
							// alert( "finished" );
						});

					jqxhr.always(function () {
					});
				} else {
					// ‘Cancel’ 또는 ‘취소’ 버튼을 눌렀을때 수행
				}
			}
